body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #434e5e;
  background-image: url("../public/background.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
